<?xml version="1.0" encoding="iso-8859-1"?>

<PropertyList>
  
  <name>j37config</name>
  <modal type="bool">false</modal>
  <layout>vbox</layout>
  
  <group>
    <layout>hbox</layout>
    
    <text>
      <label>MP Configuration</label>
      <format>%s MP Configuration</format>
      <property>sim/description</property>
    </text>
    
    <empty>
      <stretch>1</stretch>
    </empty>
    
    <button>
      <pref-width>16</pref-width>
      <pref-height>16</pref-height>
      <legend></legend>
      
      <default>1</default>
      <keynum>27</keynum>
      <border>2</border>
      <binding>
        <command>dialog-close</command>
      </binding>
      <binding>
        <command>dialog-apply</command>
      </binding>
    </button>
  </group>

  <hrule/>

  <canvas>
    <name>bannerum</name>
    <valign>fill</valign>
    <halign>fill</halign>
    <stretch>false</stretch>
    <pref-width>512</pref-width>
    <pref-height>128</pref-height>
    <nasal>
      <load>
        <![CDATA[       
                 # you can add your canvas-specific code here
                 var my_canvas = canvas.get( cmdarg() );
                 #my_canvas.set("size", [512,128]);
                 #my_canvas.set("view", [512,128]);
                 #my_canvas.set("update", 1);
                 var root = my_canvas.createGroup();
                 root.setScale(1.01,2.5);
                 my_canvas.setColorBackground(0, 0, 1, 1.0);
                 root.createChild("image")
                                    .set("src", "Aircraft/JA37/viggen-logo.png");
                                    #.set("x", 512)
                                    #.set("y", 128);
                                    #.setSize(512,128)
                                    #.setTranslation(0,0);
        ]]>
      </load>
      <unload>
        <![CDATA[       
                 my_canvas.del();
                 my_canvas = nil;
                 root = nil;
        ]]>
      </unload>
    </nasal>
  </canvas>

  <group>
    <layout>hbox</layout>
    <text><label>MP discharge messages</label></text>
    <checkbox>
      <property>payload/armament/msg</property>
      <live>true</live>
      <binding>
          <command>nasal</command>
          <script>
            if(getprop("fdm/jsbsim/gear/unit[0]/WOW")) {
              setprop("payload/armament/msg", !getprop("payload/armament/msg"));
            }
          </script>
      </binding>
    </checkbox>
  </group>
  <text><label>Enable this to let your missile and</label></text>
  <text><label>cannon fire messages be visible over MP.</label></text>
  <text><label>Warning this will also allow others to damage you.</label></text>
  <text><label>Note this will force blackout to be enabled.</label></text>
  <text><label>Simulation speed will be set to normal.</label></text>
  <text><label>It will also remove the payload window in air and MP pilot-list.</label></text>
  <text><label>Cannot be toggled in-air.</label></text>

</PropertyList>
